{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! CATEGORY TITLE START }}
<section class="category-archive-title">
	<section class="container">
	<h1>Author: <span>{{author.name}}</span></h1>
	</section>
</section>
{{! CATEGORY TITLE END }}
<section class="container">
	<section class="site-page-content">
		<section class="row">
			{{! PAGE CONTENT START }}
			<div class="col-sm-9 col-xs-12">
				<div class="category-list">
					{{#author}}
						{{! AUTHOR INFO START }}
						<div class="post-author">
						<aside class="about-author">
							<div class="author-info-avatar">
								<a class="avatar" href="{{url}}" style="background-image: url({{image}})"></a>
							</div>
							<div class="author-info-description">
								<h4><span>{{name}}</span></h4>
								<p>{{bio}}</p>
								<div class="author-social-link">
									<ul>
									{{#if facebook}}
										<li><a href="{{facebook_url}}" title="{{name}}'s Facebook Page" target="_blank"><i class="fa fa-facebook"></i></a></li>
									{{/if}}
									{{#if twitter}}
										<li><a href="{{twitter_url}}" title="{{name}}'s Twitter Page" target="_blank"><i class="fa fa-twitter"></i></a></li>
									{{/if}}
									{{#if location}}
										<li>
											<i class="fa fa-map-marker"></i><span class="author-location icon-location">{{location}}</span>
										</li>
									{{/if}}
									{{#if website}}
										<li>
											<a href="{{website}}" title="{{name}}'s Web Page" target="_blank">
												<i class="fa fa-link"></i><span>{{website}}</span>
											</a>
										</li>
									{{/if}}
									</ul>
								</div>
							</div>
						</aside>
						</div>
						{{! AUTHOR INFO END }}
					{{/author}}
				<div class="category-list">
					{{! The tag below includes the post loop - partials/loop-archive.hbs }}
							{{> "loop-archive"}}
					{{! PAGINATION START }}
					{{ pagination }}
					{{! PAGINATION END }}
				</div>
				</div>
			</div>
			{{! PAGE CONTENT END }}
			{{! SIDEBAR START }}
			<div class="col-sm-3 col-xs-12">
			<aside class="sidebar">

					{{! WIDGET START }}
					{{> "twitter-widget"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "advertising-widget"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "facebook-widget"}}
					{{! WIDGET END }}

					{{! WIDGET START }}
					{{> "newsletter-widget"}}
					{{! WIDGET END }}

			</aside>
			</div>
			{{! SIDEBAR END }}
		</section>
	</section>
</section>

