{{! Start main header}}
<header class="header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="header-content-wrapper">
		<!-- start branding -->
		<div class="branding">
			{{#if @blog.logo}}
            <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
            {{else}}
            <a href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
		</div>
		<!-- end branding -->
		<!-- start intro text -->
		<div class="intro">
			{{@blog.description}}
		</div>
		<!-- end intro text -->
		<div class="header-bottom hidden-sm hidden-xs">
			{{! insert slocial links}}
			{{> social_link}}
			{{! Insert copyright partial}}
			{{> copyright}}
		</div>
	</div>
	<i class="fa fa-angle-left toggle-button hidden-sm hidden-xs"></i>
</header>
{{! end main header}}